@font-face {
  font-family: "DOSGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dalmoori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-image: url("/img/bg.jpeg");
  user-select: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,
body {
  font-family: "dalmoori";
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input {
  font-family: "DOSGothic";
}

ul {
  list-style: none;
  margin: 0;
  padding: 1.2rem;
}

li {
  margin-bottom: 1rem;
  font-family: "DOSGothic";
}

li > span {
  font-weight: bold;
  font-family: "dalmoori";
}

body > .loginContainer,
body > .content {
  display: none;
}

body.loggedIn > .content {
  display: flex;
}

body.loggedOut > .loginContainer {
  display: flex;
}

.loginContainer {
  background-color: aliceblue;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.loginModal {
  width: 40rem;
  height: 30rem;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.loginModal input {
  font-family: "dalmoori";
  width: 12rem;
  height: 1rem;
  font-size: 1.2rem;
  padding: 0.6rem;
  border: 3px solid gray;
  background-color: rgb(245, 248, 252);
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.loginModal input:focus {
  outline: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fbfcfb;
  left: 50%;
  top: 50%;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.modal input {
  width: 25rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 4px solid gray;
}

.modal input:focus {
  outline: none;
}

.content {
  width: 120rem;
  height: 60rem;
  display: flex;
  flex-direction: row;
}

.gameContainer {
  height: 100%;
  width: 82rem;
}

.gameTitle {
  height: 10rem;
  width: 78rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  height: 10rem;
  width: 10rem;
  position: relative;
  padding: 0.1rem;
  background-color: #36454f;
  color: #faf5ef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.cardContent {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  font-size: 1rem;
  word-break: break-all;
}

.cardContent.front {
  opacity: 1;
}
.cardContent.back {
  opacity: 0;
  font-family: "DOSGothic";
}
.card:hover > .front {
  opacity: 0;
}
.card:hover > .back {
  opacity: 1;
}

.card span {
  display: block;
  text-align: center;
}

.card span:not(:first-child) {
  margin-top: 1rem;
}

.card span.bold {
  font-size: 1.5rem;
}

.card span.liar {
  font-size: 1.5rem;
  line-height: 2rem;
  color: red;
}

.serverMessage {
  width: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0908;
  color: #fbfcf8;
  border-radius: 5px;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.serverMessage span {
  display: inline;
}

.additionalMessage {
  width: 10rem;
  width: 10rem;
  border-radius: 5px;
  background-color: #353839;
  color: #fbfcf8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.additionalMessage > span {
  font-size: 1rem;
}

.gameBoardContainer {
  width: 78rem;
  height: 42rem;
  margin: 2rem;
  display: flex;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.player {
  background-color: #faf5ef;
  margin: 0.5rem;
  width: 12rem;
  height: 9rem;
  border: 5px solid gray;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.player.voted {
  background-color: #ccc;
}

.voteCounter {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.voteCounter > svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.player > .ready {
  display: none;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -3rem;
  left: -1.5rem;
}

.player.ready > .ready {
  display: block;
}

.selectable:hover {
  transform: scale(1.1);
  background-color: #ccc;
  cursor: pointer;
}

.player h1 {
  font-size: 1.5rem;
  margin-top: 0.1rem;
}

.svg.user {
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.chatContainer {
  height: 100%;
  width: 34rem;
  margin-left: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbfcf8;
}

.answerWrapper {
  margin: 1rem;
}

.answer {
  width: 30rem;
  height: 22rem;
  background-color: #0c0908;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.chatTitle {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.answer li.hintList {
  border: 2px solid gray;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.answer li {
  border: none;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.chatWrapper {
  margin: 1rem;
  margin-bottom: 2rem;
}

.chat {
  width: 30rem;
  height: 22rem;
  background-color: #0c0908;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  padding-bottom: 2rem;
}

.chat > ul {
  margin-bottom: 2.5rem;
  scroll-behavior: smooth;
  word-break: break-all;
  position: absolute;
}

.chat_input {
  position: absolute;
  bottom: 3.2rem;
  right: 1.2rem;
  width: 27rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0rem 2rem;
  border: 5px solid gray;
  border-radius: 5px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.chat_input:focus {
  outline: none;
}

.scrollable {
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 2px;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
}
.scrollable::-webkit-scrollbar-track {
  background-color: #fdfdfd;
}

@keyframes notification {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(-90px);
    opacity: 1;
  }
  100% {
    transform: translateY(-70px);
    opacity: 1;
  }
}

@keyframes dissapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.readyBtn {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #f5fefd;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  font-family: "dalmoori";
  cursor: pointer;
}

.readyBtn.ready {
  background-color: #fcfbfc;
}

.box {
  position: relative;
}
.box__line {
  position: absolute;
  background: rgba(255, 255, 255, 1);
}
.box__line--top,
.box__line--bottom {
  height: 0.4rem;
  width: 100%;
}
.box__line--top::before,
.box__line--bottom::before,
.box__line--top::after,
.box__line--bottom::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  background: rgba(255, 255, 255, 1);
  z-index: 1;
}
.box__line--top {
  top: -0.4rem;
}
.box__line--top::before {
  left: 0;
  bottom: -0.4rem;
}
.box__line--top::after {
  right: 0;
  bottom: -0.4rem;
}
.box__line--bottom {
  bottom: -0.4rem;
}
.box__line--bottom::before {
  left: 0;
  top: -0.4rem;
}
.box__line--bottom::after {
  right: 0;
  top: -0.4rem;
}
.box__line--left,
.box__line--right {
  width: 0.4rem;
  height: 100%;
}
.box__line--left {
  left: -0.4rem;
}
.box__line--right {
  right: -0.4rem;
}

.timer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer > svg {
  width: 3rem;
  height: 3rem;
  fill: white;
  margin-right: 1rem;
}

.point {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.point > svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.finalModal {
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.finalPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalPlayer svg {
  width: 3rem;
  height: 3rem;
}
#jsFinalOverlay h1 {
  font-size: 1.5rem;
  margin: 0.2rem;
}
#jsFinalOverlay h2 {
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 7rem;
  height: 5rem;
  justify-content: space-between;
}

.buttonContainer > button {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  font-family: "dalmoori";
  border: 3px solid black;
}

.tick {
  animation: flick 1s linear infinite;
}

@keyframes flick {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

:root {
  --step: 4px;
}

.notification {
  opacity: 0;
  bottom: -100px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: white;
  padding: 20px 50px;
  text-align: center;
  animation: notification 0.5s ease-out forwards,
    dissapear 0.5s ease-in forwards;
  animation-delay: 0.5s, 2s;
  color: white;
}

.pixel::after,
.pixel::before {
  position: absolute;
  content: "";
  display: block;
  z-index: -1;
}

.pixel::after {
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;

  border: 4px solid gray;
  clip-path: polygon(
    0px 8px,
    8px 8px,
    8px 0px,

    calc(100% - 8px) 0px,
    calc(100% - 8px) 8px,
    100% 8px,

    100% calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) 100%,

    8px 100%,
    8px calc(100% - 8px),
    0 calc(100% - 8px)
  );
}

.pixel::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border: 4px solid gray;
}
