@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html,
body {
  font-family: "TAEBAEKmilkyway";
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input {
  font-family: "TAEBAEKmilkyway";
}

ul {
  list-style: none;
  margin: 0;
  padding: 1.2rem;
}

li {
  margin-bottom: 1rem;
}

li > span {
  font-weight: bold;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.loginContainer {
  background-color: aliceblue;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.loginModal {
  width: 18rem;
  height: 8rem;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.loginModal > input {
  width: 12rem;
  height: 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 248, 252);
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.loginModal > input:focus {
  outline: none;
}

.content {
  width: 120rem;
  height: 60rem;
  display: flex;
  flex-direction: row;
  background-color: #eee;
}

.gameContainer {
  height: 100%;
  width: 82rem;
}

.gameTitle {
  height: 10rem;
  width: 78rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  height: 10rem;
  width: 7rem;
  background-color: rgb(96 165 250);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.serverMessage {
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-radius: 5px;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.timer {
  width: 10rem;
  width: 10rem;
  border-radius: 5px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.gameBoardContainer {
  width: 78rem;
  height: 42rem;
  margin: 2rem;
  display: flex;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.player {
  background-color: aliceblue;
  margin: 0.5rem;
  width: 12rem;
  height: 9rem;
  border-radius: 10px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.voteCounter {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.voteCounter > svg {
  width: 1.2rem;
  height: 1.2rem;
}

.selectable:hover {
  transform: scale(1.1);
  background-color: #ccc;
  cursor: pointer;
}

.selected {
  background-color: #ccc;
}

.player h1 {
  font-size: 1.5rem;
}

.svg {
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.chatContainer {
  height: 100%;
  width: 34rem;
  margin-left: 4rem;
}

.answer {
  width: 30rem;
  height: 22rem;
  margin: 2rem;
  background-color: antiquewhite;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.chat {
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  background-color: antiquewhite;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  margin-bottom: 2rem;
}

.chat > ul {
  margin-bottom: 2.5rem;
}

.chat_input {
  position: fixed;
  bottom: 2.3rem;
  right: 1.5rem;
  width: 27rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.chat_input:focus {
  outline: none;
}

.scrollable {
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 2px;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
}
.scrollable::-webkit-scrollbar-track {
  background-color: #fdfdfd;
}
